
html

head
  title Enviar Email
head

body
  h1 Enviar Email
  form( action="/data" method="get" id="emailForm" )
    label(for="email") Destinatário
    input(type="email", name="email" ,id="email", required)
    br

    label(for="subject") Assunto
    input(type="text", name="subject", id="subject", required)
    br

    label(for="body") Mensagem
    input(type="text", id="body" ,name="body", required)
    br

    button(type="submit") Enviar
  form
body

html